@media only screen and (max-width:576px){
    .logo-menu-container{
        flex-direction: row;
    }
   .menu{
    display: none;
   }
    .menu-icon{
        display: block;
    }
    .banner-details .banner-input{
   flex-direction: column;
}
}