@media only screen and (max-width:576px){  
    /* logo-menu-container */
    .logo-menu-container {  
        flex-direction: row;  
        width: calc(100% - 30px);  
    }  
    .menu {  
        display: none;  
    }  
    .logo-menu-container .menu-icon {  
        display: block;  
        font-size: 43px;  
        font-weight: 900;  
    }  
    /*end logo-menu-container */
    /* here banner container media query */
    .banner-details .banner-input {  
        flex-direction: column;  
    }  
    .banner-container {  
        padding: 26px 0px;  
        width: calc(100% - 30px);  
    }  
    .banner-container .banner-content {  
        width: 100%;  
    }  
    .banner-details .banner-content h1 {  
        font-size: 36px;  
        margin-bottom: 20px;  
    }  
    .banner-container .banner-details {  
        align-items: normal;  
        width: calc(100% - 30px);  
    }  
    .banner-details .banner-input > button {  
        width: 100%;  
        justify-content: space-between;  
        padding: 15px;  
    }  
    .banner-details .banner-input .search {  
        justify-content: center;  
        gap: 10px;  
    }   
     /* End banner container media query */
     .popular-tour .popular-details{
        flex-direction: column;
    }
    .popular-tour .popular-details .content {
   width: 100%;
    }
    .popular-tour{
        width: calc(100% - 30px);
    }
    /* chose destination */
    .chose-destination{
        width: calc(100% - 30px);
    }
    .chose-destination #row-1{
        grid-template-columns: 1fr;
    }
    .chose-destination #row-2{
        grid-template-columns: 1fr;
    }
    .chose-destination #row-3{
         grid-template-columns: 1fr;
    }
}